
/* navbar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1c1c1c;
   
}

.nav-link{
    color: #EFEFEF !important;
    font-size: 18px !important;
    
}

.navbar-nav{
/* margin-left: 100px; */
}

.nav-link:hover{
    color: #2AD386 !important;
}

.navbar-brand{
    margin-left: 100px;
}

#logo{
    height: 60px;
}

/* overview section */

.overview{
    background-color:#1c1c1c; 
}

/* our leader */

.leader{
    background-color: #1c1c1c;
}

/* mission */

.mission{
    background-color:#1c1c1c; 
}

.mission-card{
    width: 28rem;
    margin-left: 200px;
}

.mission-img{
    margin-left: 580px;
    margin-top: -150px;
}


/* intro */

.intro{
    background-color: #1c1c1c;
}

.intro-card{
    width: 25rem;
    margin-left: 650px;
}

.intro-img{
    margin-left: 180px;
    margin-top: -150px;
}


