*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1c1c1c;
   
}

.nav-link{
    color: #EFEFEF !important;
    font-size: 18px !important;
    
}

.navbar-nav{
/* margin-left: 100px; */
}

.nav-link:hover{
    color: #2AD386 !important;
}

.navbar-brand{
    margin-left: 100px;
}

#logo{
    height: 60px;
}

.overview{
    background-color:#1c1c1c; 
}




@media(max-width:576px){
 
    /*navbar  */
    .navbar-nav{
        flex-direction: row !important;
        width: 100% !important;
        margin-left: -25px !important;
        
    }

    .nav-link{
        font-size: 13px !important;
    }

    .navbar-brand{
        margin-left: 60px !important;
    }

    #logo{
        height: 30px !important;
    }

    .nav-item{
        padding-left: 10px !important;
        margin-top: 10px;
        width: 100%;


    }

    /* overview-section */

    

}

@media(max-width:992px) {

    .navbar-nav{
        flex-direction: row !important;
        width: 100% !important;
    }

    #logo{
        height: 65px;
        margin-left: -80px;
    }


    .nav-item{
        padding-left: 10px !important;
        margin-top: 10px;
    }

    
}

@media (max-width:1400px){

    /* overview */

    .overview-txt{
        margin-left: 10px !important;
    }
}